body {
    background-color: #1a1919ee;
}

/*CREA EL CUADRO*/
.cuadro {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en el espacio horizontal */
    align-items: center; /* Centra verticalmente */

    background-color: rgb(186, 74, 0);
    color: black;

    border-radius: 40px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.507); /* Agrega una sombra al contenedor */    

    width: 50%; /* Ancho del contenedor */
    height: auto; /* Altura del contenedor */
    
    position: relative; /* Asegura que el cuadro del logo se quede pegado al borde */
    
    /*text-align: center;*/

    
    
}

/* Contenedor del formulario de inicio de sesión */
.cuadro_left {
    width: 70%; /* Ocupa el 70% del cuadro */
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.7); /* Escala proporcionalmente el contenido al 80% */
    margin-left: -42px;
}

.cuadro_left h2 {
    font-size: 2vw; /* Tamaño de fuente para el título */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cuadro_left input[type="text"],
.cuadro_left input[type="password"],
.cuadro_left button {
    font-size: 1.5vw; /* Tamaño de fuente proporcional a la ventana */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%; /* Ajusta el ancho de los campos al 80% del contenedor */
    margin: 4px;
    border-radius: 15px;
}

#margen {
    margin-block-end: 20px;    

}

button {
    background-color: rgb(39, 39, 39);
    color: white;
}

/*CAMBIA LA POSICION DEL CUADRO*/
.posicion {
    /*Ajusta la posición del cuadro*/
    display:flex;
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
    height: 100vh /* Ajusta la altura del contenedor para que ocupe toda la altura de la ventana */
    
}

/* Cuadro para el logo */
.cuadro_logo {
    background-color: black;
    border-radius: 0px 40px 40px 0px;
    padding: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    width: 35%; /* Ocupa el 30% del cuadro principal */
    height: 96%; /* Ocupa toda la altura del cuadro principal */
    display: flex; /* Flexbox para centrar el logo */
    justify-content: center; /* Centra horizontalmente el logo */
    align-items: center; /* Centra verticalmente el logo */
    position: absolute;
    top: 0;
    right: 0; /* Asegura que el cuadro esté pegado al borde derecho */
}

.cuadro_logo img {
    max-width: 80%; /* Asegura que el logo no sea más grande que el cuadro */
    height: auto;
    border-radius: 140px;
}

label {
    font-size: 1.2vw; /* Tamaño de fuente para el título */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}